.itemTitleContainer{
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.itemTitle{
    flex: 1;
}

/* .icon::before {
    flex:0;
    position: relative;
    height: 20px;
    content: \2193; 
    font-style: normal;
    font-family: 'Glyphicons Halflings';
    float: right;
    color: grey;  
    transition: 200ms ease-out;

}

.item[isopen="true"] .icon {
    transform: rotate(-270deg);
} */

.item:not(:last-child){
    border-bottom: solid 3px #1111114d;
}

.itemDescription{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: opacity 200ms linear, max-height 200ms linear;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;

    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

.item[isopen="true"] .itemDescription{
    opacity: 1;
    max-height: 9em;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    will-change: opacity, max-height;
    padding: 0.5em 0;
}