.listContainer {
    border: solid 3px #1111114d;
    padding: 2em;
    margin-bottom: 3em;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);;
}

h1{
    text-transform: uppercase;
}

ul{
    list-style-type: none;
}